* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
/************************ Payment modal */

#payment-section {
  background-color: rgb(112, 111, 111);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#payment-section .cancel-icon {
  position: relative;
  left: 31rem;
  bottom: 11.5rem;
}
#payment-section .cancel-icon a {
  color: white;
}
#payment-modal-container {
  display: flex;
  justify-content: center;
  width: 470px;
  background-color: rgb(167, 144, 144);
  border-radius: 5px;
  box-shadow: 2px 1px 10px 2px rgba(50, 50, 50, 0.6);
}
aside {
  width: 120px;
  background-color: #5a3275e1;
  padding: 20px 0px 20px 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#payment-options ul {
  font-size: 14px;
  list-style: none;
  text-align: left;
  padding-top: 6px;
}
#payment-options h6 {
  font-size: 12px;
  font-weight: 700;
  padding: 15px 0;
  padding-left: 10px;
  letter-spacing: 1px;
  color: #fff;
}
#payment-options a {
  color:white;
  text-decoration: none;
}
#payment-options li {
  letter-spacing: 1px;
  padding: 15px 0;
  padding-left: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  /* border-top: 1px solid #69338d9c; */
}
.payment-links li:hover{
  color: #711baa;
  background-color: rgba(250, 245, 245, 0.932);
  transition: 100ms ease;
}
.payment-links li.active{
  color: #6e1da5;
  background-color: #fff;
}
#payment-options .icons {
  margin-right: 9px;
  font-size: 14px;
}
#payment-options .ussd {
  font-size: 14px;
  font-weight: 800;
}
#payment-options .fa-university {
  font-size: 17px;
}
#payment-options .fa-arrow-circle-right {
  position: relative;
  right: 15px;
  font-size: 10px;
  margin-right: -10px;
}
#payment-options .visa {
  font-size: 18px;
  margin-right: 13px;
  margin-left: 3px;
}
#payment-form {
  background-color: #fff;
  display: flex;
  width: 75%;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  padding: 30px 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* box-shadow: -0.6px 0px 5px rgba(50, 50, 50, 0.281); */
}
.payment-logo-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-top: -12px;
  position: relative;
  /* border-bottom: 1px solid #f5f5f5; */
}
.payment-logo-info .logo {
  width: 100px;
  height: 60px;
}
.payment-logo-info .logo img{
width: 110%;
}
.payment-logo-info .logo p {
  text-align: center;
  color: #542474e1;
  font-weight: 600;
  font-size: 10px;
  position: relative;
  top: 14px;
}
.payment-info {
  text-align: right;
  font-size: 13px;
}
.payment-info .payment-amount {
  color: #542474e1;
  font-weight: 600;
}
.payment-info p {
  color: #000;
  line-height: 1.3;
}
#card-details-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  padding-bottom: 0;
  /* display: none; */
}
#card-details-page .card-icon{
  color: #4f1277;
  font-size: 30px;
  text-align: center;
  padding-bottom: 5px;
  margin-top: -10px;
}
#card-details-page .write-up {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 20px;
  color: #181a1b;
}
.card-pin{
  display: flex;
  flex-direction: column;
  display: none;
}
.card-pin .write-up{
padding: 15px 0;
color: #242729;
  text-align: center;
  font-size: 0.9rem !important;
  font-weight: 600 !important;
}
.enter-pin{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.enter-pin input{
  width: 20px;
  height: 10px;
  padding: 15px 15px 15px 25px;
  outline: none !important;
  border: 1px solid rgb(97, 88, 88);
  border-right: none;
  font-size: 20px;
}
.enter-pin :nth-child(1){
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
} 
.enter-pin :nth-child(4){
  border-right: 1px solid rgb(97, 88, 88);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.continue-cancel-links{
  display: flex;
  flex-direction: column;
  /* padding-top: 25px; */
  padding: 25px 10px 15px 25px;
  justify-content: center;
  align-items: center;
}
.continue-cancel-links button{
  width: 30%;
  padding: 7px 15px;
  border: none;
  border-radius: 3px;
  background-color: #4f1277;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.continue-cancel-links a{
  padding: 10px;
  margin-left: -17px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}
.continue-cancel-links a:hover{
  color: #4f1277;
  text-decoration: underline;
}
.otp {
  display: block;
  display: none;
  text-align: center;
  padding: 10px;
}
.otp-icon{
display: flex;
justify-content: center;
padding-bottom: 20px;
margin-top: -20px;
}
.otp-icon .phone{
  font-size: 55px;
  color: #561085;
}
.otp-icon .message{
  position: relative;
  right: 20px;
  top: 5px;
  font-size: 28px;
  color: #4f1277;
}
.otp .write-up{
  text-align: center;
    text-align: center;
    font-size: 15px !important;
    font-weight: 600 !important;
padding-bottom: 20px;
    color: #242729;
}
.enter-otp{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.enter-otp input{
  width: 33%;
  padding: 8px;
  outline: none !important;
  border: 1.6px solid rgb(97, 88, 88);
  font-size: 16px;
  border-radius: 3px;
  margin-right: 7px;
}
.enter-otp :nth-child(2){
  font-size: 13px;  
  font-weight: 600;
  width: 30%;
  border: none;
  background-color: #4f1277;
  color: #ffffff;
  padding: 9px;
  cursor: pointer;
}
.otp a{
  text-align: center;
  padding: 20px 10px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}
.otp a:hover{
  color: #4f1277;
  text-decoration: underline;
}
#payment-form label {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #181a1b;
  transition: all 0.2s;
  text-transform: uppercase;
}
.card-details {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  margin-bottom: 3px;
}
.card-details input {
  width: 91%;
  font-size: 15px;
  color: #181a1b;
  border: 1px solid #e4e4e4;
  padding: 22px 10px 5px 10px;
  border-radius: 5px;
  outline: none;
  margin-bottom: 5px;
}
#expiry-date-cvv {
  display: flex;
  flex-direction: row;
}
.expiry-date,
.cvv {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
#expiry-date-cvv input {
  width: 87%;
  font-size: 15px;
  color: #181a1b;
  padding: 22px 10px 5px 10px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  margin-bottom: 5px;
  outline: none;
}
#payment-form input:focus {
  border-color: #4f1277;
}
#expiry-date-cvv input:focus {
  border-color: #4f1277;
}
.cvv a {
  position: relative;
  left: 80px;
  color: #181a1b;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
}
.cvv a:hover {
  /* transition: all 200ms; */
  color: #4f1277;
}
.continue-payment {
  border: none;
  width: 98%;
  padding: 12px 0px;
  font-size: 13px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  margin: 5px 25px 5px 0px;
  background-color: #542474e1;
  cursor: pointer;
}
.saved-card {
  text-align: center;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 600;
  padding-top: 5px;
  color: #181a1b;
}
.saved-card:hover {
  transition: all 100ms;
  text-decoration: underline;
}
.cancel-payment {
  text-align: center;
  margin-top: 60px;
  display: none;
}
.cancel-payment a {
  border-radius: 8px;
  padding: 15px 25px;
  text-decoration: none;
  color: #fff;
  /* letter-spacing: 1px; */
  background-color: #542474e1;
}
/******************** width responisveness  */
@media (max-width: 340px) {.payment-logo-info .logo img {
  width: 100px;
}
  #payment-form {
    padding-top: 10px;
  }
  #paywithcard .write-up {
    font-size: 12px !important;
  }
  /* .payment-logo-info {
    padding-bottom: 50px !important;
    margin-top: -3rem !important;
  } */
  #paywithtransfer .write-up{
    font-size: 12px;
  }
  .transfer-details h4{
    font-size: 12px;
  }
  .transfer-details h3{
    font-size: 15px;
  }
  .transfer-details p{
    font-size: 12px;
  }
.payment-info {
    font-size: 10px;
}
  .enter-pin input{
    width: 18px;
  }
  #payment-form label {
    font-size: 10px !important;
  }
  .card-details input {
    padding-top: 25px !important;
  }
  #expiry-date-cvv {
    flex-wrap: wrap;
  }
  #expiry-date-cvv input {
    width: 95%;
    padding-top: 25px !important;
  }
  .cvv a {
    left: 45vw !important;
  }
  .continue-payment {
    width: 100%;
  }
  .saved-card {
    font-size: 13px !important;
  }
  /* .cancel-payment {
    margin-top: 20px;
  } */
  .cancel-payment a {
    /* padding: 8px 15px; */
    font-size: 12px;
  }
  .payment-successful p{
    font-size: 15px;
  }
}
@media all and (max-width: 520px) {
  #payment-section {
    background-color: #fff;
    box-shadow: none;
    height: 100vh;
    width: 100%;
  }
  #payment-section .cancel-icon {
    display: none;
  }
  #payment-modal-container {
    max-width: 100%;
    background-color: white;
    border-radius: 0px;
    box-shadow: none;
    height: 100vh;
    padding: 0px;
  }
  aside {
    display: flex;
    flex-basis: 65px;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: hidden;
    border-radius: 0px;
    padding-top: 30px;
  }
  #payment-options ul {
    text-align: center;
  }
  #payment-options h6 {
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 0px;
    font-weight: 600;
  }
  #payment-options li {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -10px;
  }
  #payment-options .icons {
    margin-left: 20px;
    margin-right: 45px;
    font-size: 24px;
    text-align: center;
  }
  #payment-options .fa-arrow-circle-right {
    position: relative;
    top: 10px;
    right: 72px;
    font-size: 12px;
  }
  #payment-options .ussd {
    font-size: 21px;
    font-weight: 600;
  }
  #payment-options .visa {
    font-size: 24px;
    margin-right: 39px;
    margin-left: 27px;
  }
  #payment-form {
    width: 90%;
    align-self: auto;
    padding: 30px 13px 0 13px;
    box-shadow: none;
    display: block;
    background-color: white;
  }
  .payment-logo-info {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin-top: -12px;
    position: relative;
  }
  .payment-logo-info .logo p {
    font-size: 12px;
    top: 12px;
  }
  #paywithcard .write-up {
    font-size: 1rem;
    padding-bottom: 20px;
  }
  .continue-cancel-links a{
    display: none;
  }
  .otp a{
    display: none;
  }
  .enter-otp :nth-child(2){
    padding: 9px 5px;
    width: 100px;
  }
  .enter-otp input{
    width: 90px;
  }
  .continue-cancel-links button{
    padding: 7px 3px;
    width: 100px;
  }
  #paywithbank{
    margin-top: -20px;
  }
  .paywithbank-icon {
    padding-bottom: 15px;
    margin-top: -50px;
  }
  #paywithbank .write-up {
    text-align: center;
    padding: 10px 20px 50px 20px !important;
    color: #181a1b;
  }
  #payment-form label {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 11px;
  }
  .card-details input {
    padding-top: 27px;
    margin-bottom: 8px;
  }
  .expiry-date,
  .cvv {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
  }
  #expiry-date-cvv input {
    padding-top: 27px;
    margin-bottom: 10px;
  }
  .cvv a {
    left: 17vw;
  }
  .continue-payment {
    color: #fff;
    padding: 15px 0px;
    font-weight: 500;
    margin: 8px 25px 8px 0px;
  }
  .saved-card {
    font-size: 0.9rem;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  #paywithbank{
    padding-bottom: 0px !important;
  }
  .cancel-payment {
    display: block;
    margin-top: 40px;
  }
  .payment-successful-mobile{
    text-align: center;
  }
  /* .payment-successful{
    background-color: #fff;
    width: 490px;
    height: 378px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  } */
}
/***************************Payment with Bank  */
#paywithbank {
  min-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none; 
  padding: 72px 10px;
}
.paywithbank-icon {
  color: #4f1277;
  font-size: 48px;
  text-align: center;
  padding-bottom: 5px;
  margin-top: -50px;
}
#paywithbank .write-up {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  padding: 10px 50px 20px 50px;
  color: #181a1b;
}
#paywithbank #banks {
  padding: 10px 5px;
  outline: none;
}
/************************ Pay with Transfer  */
#paywithtransfer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
}
#paywithtransfer .write-up {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 15px;
  color: #181a1b;
}
#paywithtransfer .write-up span {
  color: #4f1277;
  font-weight: 600;
}
.transfer-icon {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  color: #4f1277;
  padding-bottom: 10px;
}
.transfer-icon .fa-arrow-circle-right {
  position: relative;
  top: -1px;
  right: 10px;
  font-size: 15px;
}
.transfer-details {
  padding: 15px 35px;
  background-color: #e4e4e4;
  text-align: center;
}
.transfer-details h4 {
  /* padding: 10px 0; */
  line-height: 1.5;
  padding-bottom: 5px;
  font-size: 15px;
  color: #181a1b;
}
.transfer-details h3 {
  font-size: 18px;
  font-weight: 800;
  padding-bottom: 20px;
  letter-spacing: 1px;
  /* padding: 10px; */
}
.transfer-details p {
  text-align: center;
  font-size: 14px;
  color: #561085;
}
.transfer-done {
  text-align: center;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 600;
  color: #181a1b;
  margin-top: 20px;
  border: 1px solid #e4e4e4;
  padding: 10px 15px;
}
.transfer-done:hover {
  color: #4f1277;
}

/******************** USSD Transaction  */
#paywithussd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px;
  display: none;
}
.ussd-icon {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-weight: 800;
}
.ussd-icon h3 {
  text-align: center;
  background-color: #4f1277;
  color: white;
  padding: 2px;
  font-size: 20px;
  cursor: default;
  font-weight: 800;
  border-radius: 3px;
  letter-spacing: 1px;
}
#paywithussd .write-up {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  padding: 0px 25px 20px 25px;
  color: #181a1b;
}
#paywithussd a {
  text-decoration: none;
}
.ussd-code {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  padding: 12px 15px;
  cursor: pointer;
}
.ussd-code:hover {
  outline: 1px solid #4f1277;
  transform: scale(1.02);
}
.ussd-code p {
  text-decoration: none;
  font-size: 0.8rem;
  color: #181a1b;
  font-weight: 600;
}
/*********************PAY WITH VISA  */
#paywithvisaqr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  display: none;
}
.visa-icon {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  color: #4f1277;
  padding-bottom: 10px;
}
#paywithvisaqr p {
  text-align: center;
  font-size: 15px;
}
.qrcode {
  height: 8rem;
}
/***************Payment Successful Page  */
.payment-successful-mobile{
  text-align: center;
}
.payment-successful{
  background-color: #fff;
text-align: center;
padding: 10px;
  display: block;
  display: none;
}
.payment-successful-icon{
  font-size: 70px;
  color: #4f1277;
  /* padding: 20px; */
}
.payment-successful h4{
  padding-bottom: 20px;
}
.payment-successful p{
padding-bottom: 53px;
}